<div class="reset-password-container">
    <h2>Redefinir Senha</h2>
    <form (ngSubmit)="resetPassword()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Digite seu e-mail" required readonly>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Nova Senha" required>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirme a nova senha" required>
      <button type="submit">Redefinir Senha</button>
    </form>
    <p *ngIf="message" class="success">{{ message }}</p>
    <p *ngIf="error" class="error">{{ error }}</p>

    <a routerLink="/login" class="back-button">Voltar para Login</a>

  </div>
  